body {
  font-family: "Rubik", sans-serif;
}

p {
  color: hsl(229deg, 8%, 60%);
}

#header-initial {
  box-sizing: border-box;
  padding: 0rem 1rem 0 1rem;
  width: 100%;
  height: 73px;
  max-height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
}
#header-initial nav {
  display: none;
}
@media (min-width: 481px) {
  #header-initial nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    width: 65%;
  }
}

#header-mobile-open {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0 1rem;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  transition: max-height 0.5s;
  background-color: hsla(231deg, 32%, 21%, 0.95);
}

#logo-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 25px;
}
#logo-button button {
  background-color: transparent;
  border: none;
}
@media (min-width: 481px) {
  #logo-button button {
    display: none;
  }
}
#logo-button button img {
  width: 18px;
  height: 16px;
}
@media (min-width: 481px) {
  #logo-button {
    width: 40%;
  }
}

.menu-button-open {
  display: initial;
}

.menu-button-closed {
  display: none;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
@media (min-width: 481px) {
  ul {
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
  }
}
ul li {
  border-top: 1px solid hsl(229deg, 8%, 60%);
  padding: 2rem 0;
  width: 100%;
}
@media (min-width: 481px) {
  ul li {
    color: black;
    border: none;
    padding: 0;
    margin: 0;
  }
}
ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  color: hsl(0deg, 100%, 100%);
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
}
@media (min-width: 481px) {
  ul a {
    color: black;
    border: none;
    padding: 0;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

#btn-login {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  border: 3px solid white;
  border-radius: 5px;
  padding: 0.5rem 30%;
}
@media (min-width: 481px) {
  #btn-login {
    border: none;
    padding: 12.5px 1.2rem;
    border-radius: 5px;
    background-color: hsl(359deg, 97%, 66%);
    color: white;
    box-shadow: -1px 7px 5px -5px rgba(0, 0, 0, 0.2);
  }
}

#dropdown-social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding: 0 3rem 1rem 3rem;
}
#dropdown-social-media a {
  border: none;
}

#dropdown-social-media-hidden {
  display: none;
}

body {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  #page-intro-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}

#pic-background-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  z-index: -1;
}
@media (min-width: 769px) {
  #pic-background-container {
    flex: 1 1 0px;
  }
}

#top-pic {
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: transparent;
  z-index: -1;
}

#top-pic-background {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: hsl(231deg, 69%, 60%);
  margin-left: auto;
  max-width: 600px;
  width: 80%;
  height: 80%;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  z-index: -2;
}

#product-intro {
  text-align: center;
  margin: 0 1rem;
  box-sizing: border-box;
}
#product-intro h1 {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin: 2rem 0;
}
#product-intro p {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 75ch;
}
@media (min-width: 769px) {
  #product-intro {
    flex: 1 1 0px;
    text-align: left;
  }
}

#download-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#download-link-wrapper a {
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: hsl(231deg, 69%, 60%);
  font-weight: 700;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: -1px 7px 5px -5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  min-width: 140px;
}
#download-link-wrapper a:last-of-type {
  text-decoration: none;
  text-align: center;
  background-color: hsl(0deg, 0%, 93%);
  font-weight: 700;
  color: hsl(0deg, 0%, 33%);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: -1px 7px 5px -5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  min-width: 140px;
}/*# sourceMappingURL=style.css.map */