.button-wrapper{
    display: block;
    width: 100vw;
    border-top: 1px solid hsl(229, 8%, 60%);
    text-align: center;

 
    &:last-of-type{
    border-bottom: 1px solid hsl(229, 8%, 60%);
    }

    p{
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        background-color: transparent;
        border: none;
        padding: 1rem 1rem 1rem calc(1rem - 3px);
        border-bottom: 3px solid transparent;
        width: fit-content;
    
        
        &:hover, &:active{
            border-bottom-color: hsl(0, 94%, 66%);
        }
    
    }


@media(min-width: 769px){
    &:last-of-type{
        border-bottom: none;
    }
}   
}
