.button-wrapper{
    display: block;
    margin: 0 2rem;
    border-top: 1px solid hsl(229, 8%, 60%);
    text-align: center;

 
    &:last-of-type{
    border-bottom: 1px solid hsl(229, 8%, 60%);
    }

    p{
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        background-color: transparent;
        border: none;
        padding: 1rem 0;
        border-bottom: 3px solid transparent;
        width: fit-content;
        margin: 0 auto;
    }

    &:hover, &:active{
        p{
            color: black;
            border-bottom-color: hsl(0, 94%, 66%);
        }
    }



@media(min-width: 769px){
    border-bottom: 1px solid hsl(229, 8%, 60%);
    border-top: none;
    margin: 0;
    width: 33%;
    
}   
}

.selected{
    p{
        border-bottom-color:hsl(0, 94%, 66%);
    }
}


